body {
	font-family: ffdin;
	font-size: 11px;
    
}

@page :first {
    background-image:url("./picture/ss/CERTIFICATED_NGG_front.png"); 
    background-image-resize:4;
    background-repeat: no-repeat;
    margin-left: 34px;
    margin-right: 0px;
    margin-top: 28px;
    margin-bottom: 0px;
}

@page {
    background-image:url("./picture/ss/CERTIFICATED_NGG_back.png"); 
    background-image-resize:4;
    background-repeat: no-repeat;
    margin-left: 25px;
    margin-right: 5px;
    margin-top: 20px;
    margin-bottom: 5px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}