body {
	font-family: dbth;
	font-size: 17px;
}

@page {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    border: none;
    /* Set the hr color */
    color: #000; /* old IE */
    background-color: #000; /* Modern Browsers */
}