body {
	font-family: sans-serif;
	font-size: 8px;
}
@page {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.barcode {
    padding: 1.5mm;
    margin: 1;
    vertical-align: top;
    color: #000044;
}
.barcodecell {
    text-align: left;
    vertical-align: top;
}