body {
	font-family: Helvetica;
	font-size: 11px;
    
}

@page {
    background-image:url("./picture/ss/CERTIFICATED_NGG.jpg"); 
    background-image-resize:4;
    background-repeat: no-repeat;
    margin-left: 25px;
    margin-right: 5px;
    margin-top: 120px;
    margin-bottom: 5px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}